body.work .hide-work {
  display: none;
}

.ctn-work .content {
  position: relative;
}
.ctn-work .content__item {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  color: var(--color-content);
  background: var(--color-content-bg);
}
.ctn-work .content__item-header {
  padding: 2rem 2rem 0;
  position: relative;
}
.ctn-work .content__item-header-title {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 3rem;
  margin: 0;
  color: var(--color-content-title);
}
.ctn-work .content__item-header-meta {
  text-indent: 0.25rem;
  display: block;
  color: var(--color-content-meta);
}
.ctn-work .dark-mode .content__item-header-meta {
  mix-blend-mode: difference;
}
.ctn-work .content__item-header-meta::before {
  content: "---------";
  margin: 0 0.5rem 0 0;
  letter-spacing: -0.15rem;
}
.ctn-work .content__item-copy {
  padding: 2rem;
  font-family: "Lato";
}
.ctn-work .revealer {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  transform: rotate(-8deg);
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}
.ctn-work .revealer__inner {
  background-color: var(--color-reveal-bg);
  width: 200%;
  height: 200%;
  position: relative;
  flex: none;
}
.ctn-work .grid {
  position: absolute;
  display: grid;
  height: 400px;
  width: 100%;
  left: 0;
  top: 0;
  grid-template-columns: 30% 30% 30%;
  grid-column-gap: 5%;
  grid-template-areas: "griditem-left griditem-center griditem-right";
}
.ctn-work .grid--slideshow,
.ctn-work .grid--interaction {
  left: -5%;
  width: 110%;
  pointer-events: none;
}
.ctn-work .grid--slideshow {
  top: 22vh;
  transform: rotate(-8deg);
}
.ctn-work .grid--titles {
  align-items: center;
  text-align: center;
  cursor: default;
}
.ctn-work .titles-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1000;
  pointer-events: none;
  transform: rotate(8deg);
}
.ctn-work .grid__item {
  display: flex;
  justify-content: center;
  position: relative;
  pointer-events: none;
  opacity: 0;
  grid-area: griditem-center;
}
.ctn-work .grid__item .img {
  width: calc(100% + 40px);
  height: 100%;
  left: -20px;
  top: 0;
  background-size: cover;
  background-position: 50% 50%;
  top: 0;
  position: absolute;
  pointer-events: none;
}
.ctn-work .grid__item video.img {
  width: auto;
  left: -50%;
}
.ctn-work .grid__item--slide {
  flex-direction: column;
  width: 100%;
}
.ctn-work .grid__item--title {
  font-size: 7vw;
  margin: 0;
  font-family: "Poppins";
  font-weight: 600;
  color: var(--color-title);
}
.ctn-work .grid__item--title span {
  display: inline-block;
}
.ctn-work .grid__item--center,
.ctn-work .grid__item--left,
.ctn-work .grid__item--right {
  opacity: 1;
  cursor: pointer;
}
.ctn-work .grid__item--left {
  grid-area: griditem-left;
}
.ctn-work .grid__item--center {
  grid-area: griditem-center;
}
.ctn-work .grid__item--right {
  grid-area: griditem-right;
}
.ctn-work .grid__item--cursor {
  pointer-events: auto;
}
.ctn-work .content-open .grid__item--cursor {
  display: none;
}
.ctn-work .number {
  font-size: 2rem;
  -webkit-text-stroke: 1.5px var(--color-number);
  text-stroke: 1.5px var(--color-number);
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  color: transparent;
  line-height: 1;
  margin: 0 0 0.5rem 0;
  font-weight: 700;
}
.ctn-work .img-wrap {
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 100%;
}
.ctn-work .img-wrap--content {
  height: 300px;
  transition: height 0.5s;
}
.ctn-work .img-wrap--content.playing {
  height: 100vh;
}
.ctn-work .img--content {
  background-position: 50% 38%;
  position: relative;
  transition: width 0.5s;
}
.ctn-work .caption {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 0.75rem;
  font-weight: 400;
  margin: 0.75rem 0 0 0;
  color: var(--color-caption);
}
.ctn-work .caption::before {
  content: "---------";
  margin: 0 0.5rem 0 0;
  letter-spacing: -0.15rem;
}
.ctn-work .img-wrap,
.ctn-work .img--content,
.ctn-work .caption,
.ctn-work .number,
.ctn-work .grid__item--title,
.ctn-work .grid__item--title span,
.ctn-work .revealer__inner,
.ctn-work .content__item-header-title {
  will-change: transform;
}
.ctn-work .grid__item--cursor.grid__item--left::after,
.ctn-work .grid__item--cursor.grid__item--right::after,
.ctn-work .img-wrap--content::after {
  position: absolute;
  left: calc(50% - 30px);
  cursor: pointer;
}
.ctn-work .grid__item--cursor.grid__item--left::after {
  top: 70%;
}
.ctn-work .grid__item--cursor.grid__item--right::after {
  top: 20%;
}
.ctn-work .grid__item--cursor.grid__item--left::after {
  content: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='61px' height='44px' viewBox='0 0 61 44' style='enable-background:new 0 0 61 44;' fill='%23fff' xml:space='preserve'%3E %3Cpath d='M.613 21.671L21.584.7l5.642 5.642-11.74 11.74H60.45v7.978H15.487l11.74 11.739-5.643 5.642L.613 22.469a.57.57 0 0 1 0-.798z'/%3E %3C/svg%3E");
}
.ctn-work .grid__item--cursor.grid__item--right::after {
  content: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='61px' height='44px' viewBox='0 0 61 44' style='enable-background:new 0 0 61 44;' fill='%23fff' xml:space='preserve'%3E %3Cpath d='M60.287 21.671L39.316.7l-5.642 5.642 11.74 11.74H.45v7.978h44.963l-11.74 11.739 5.643 5.642 20.971-20.972a.57.57 0 0 0 0-.798z'/%3E %3C/svg%3E");
}

.js .ctn-work .content__item {
  opacity: 0;
  pointer-events: none;
}

.js .ctn-work .content__item--current {
  opacity: 1;
  pointer-events: auto;
  top: 16rem;
}
@media (max-width: 550px) {
  .js .ctn-work .content__item--current {
    top: 0;
  }
}

@media screen and (min-width: 53em) {
  .ctn-work .grid {
    height: 100vh;
    grid-template-columns: repeat(3, calc((100% - 36vw) / 3));
    grid-column-gap: 18vw;
  }
  .ctn-work .grid--slideshow {
    top: 0;
  }
  .ctn-work .grid--interaction {
    grid-template-columns: repeat(3, calc(100% / 3));
    grid-column-gap: 0;
  }
  .ctn-work .number {
    font-size: 4.25vw;
  }
  .ctn-work .img-wrap {
    height: 35vw;
  }
  .ctn-work .img-wrap--content {
    height: 100%;
    grid-area: 1/2/2/3;
  }
  .ctn-work .content {
    top: 0;
    position: absolute;
    height: 100vh;
    width: 100%;
  }
  .ctn-work .content__item {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .ctn-work .img-wrap--content {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
  }
  .ctn-work .content__item-header {
    pointer-events: none;
    position: relative;
    left: -12vw;
  }
  .ctn-work .content__item-header-title {
    font-size: 8vw;
  }
  .ctn-work .content__item-copy {
    max-width: 240px;
    text-align: right;
    position: absolute;
    top: 25vh;
    right: 0vh;
  }
  .ctn-work .grid__item--cursor.grid__item--left::after,
.ctn-work .grid__item--cursor.grid__item--right::after,
.ctn-work .img-wrap--content::after {
    display: none;
  }
  .ctn-work .grid__item--cursor.grid__item--left {
    cursor: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='61px' height='44px' viewBox='0 0 61 44' style='enable-background:new 0 0 61 44;' xml:space='preserve'%3E %3Cpath fill='%23fff' d='M.613 21.671L21.584.7l5.642 5.642-11.74 11.74H60.45v7.978H15.487l11.74 11.739-5.643 5.642L.613 22.469a.57.57 0 0 1 0-.798z'/%3E %3C/svg%3E") 30 22, pointer;
  }
  .ctn-work .grid__item--cursor.grid__item--center {
    cursor: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='52px' height='52px' viewBox='0 0 52 52' style='enable-background:new 0 0 52 52;' xml:space='preserve'%3E %3Cpath fill='%23fff' d='M29.889 30.05l-.036 21.361c-.222.213-7.654.213-7.876 0l-.007-21.358-21.52.007v-7.978l21.518.036L21.96.571h7.978l-.037 21.56 21.388.037c.213.222.213 7.654 0 7.876l-21.401.007z'/%3E %3C/svg%3E") 26 26, crosshair;
  }
  .ctn-work .grid__item--cursor.grid__item--right {
    cursor: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='61px' height='44px' viewBox='0 0 61 44' style='enable-background:new 0 0 61 44;' xml:space='preserve'%3E %3Cpath fill='%23fff' d='M60.287 21.671L39.316.7l-5.642 5.642 11.74 11.74H.45v7.978h44.963l-11.74 11.739 5.643 5.642 20.971-20.972a.57.57 0 0 0 0-.798z'/%3E %3C/svg%3E") 30 22, pointer;
  }
  .ctn-work .img-wrap--content .img--content {
    width: 40%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: url("../img/play.svg") 50 50, pointer;
  }
  .ctn-work .img-wrap--content .img--content video {
    position: relative;
    z-index: 1;
    min-height: 56.25vw;
    min-width: 100vw;
  }
  .ctn-work .img-wrap--content.playing .img--content {
    width: 100%;
    cursor: url("../img/pause.svg") 65 45, pointer;
  }

  .js .ctn-work .content__item {
    height: 100%;
  }

  .js .ctn-work .content__item--current {
    top: 0;
  }
}

/*# sourceMappingURL=work.css.map */
