@import './vars';
@import './include-media';
html, body, .ctn-outer, .ctn-outer main { @extend %fhw; }
body { 
  overflow: hidden;
  font-family: $pop;
  background: $bg;
  @extend %ns;
  
  --color-text: #5d5d5d;
	// --color-bg: #e6e6ea;
	--color-bg: #222;
	--color-link: #838288;
	--color-link-hover: #000;
	// --color-number: #000;
	// --color-title: #000;
	// --color-caption: #000;
	// --color-content: #000;
	--color-number: #fff;
	--color-title: #fff;
	--color-caption: #fff;
	--color-content: #fff;
	--color-content-bg: var(--color-bg);
	--color-reveal-bg: var(--color-bg);
  --color-content-title: #fff;
}
.mobile-only{ @include media('>mob') { display: none; }	 }
.desktop-only{ @include media('<=mob') { display: none; } }
input:focus{ outline: none; }

// Loading Screen Styling
.loading-screen {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  background-color: #701515;
  width: 100%;
  height: 100%;
  // transform: scaleY(0) skewX(0);
  // transform-origin: top left;
}
.loading-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 1031;
  pointer-events: none;
}

// Nav common
.navbar{
  padding: 50px 70px;
  font-weight: 500;
  font-family: $pop;
  letter-spacing: 2px;
  &.navbar-dark{
    .navbar-nav{
      .nav-item,
      .nav-link{ color: $w; }
    }
  }
}

/* Common heading container */
.heading-container {
  max-width: 800px;
  margin:auto;
  position: relative;
  padding-top: 40px;
}
.heading-container img.main-img {
  position: absolute;
  right: -140px;
  top: 80px;
  width: 60%;
  opacity: 1;
  transform: translateY(0);
}
.heading-container h1 {
  color: $w;
  font-size: 100px;
  line-height: 100px;
  padding: 50px;
  top: 50px;
  margin-top: 20px;
  transform: translateY(0);
  opacity: 1;
  position: relative;
  z-index: 9;
}
/* Cool green stripe Styling */
.heading-container h1 span.green-heading-bg {
  display: inline;
  z-index: -1;
  background-image: linear-gradient(#701515, #701515);
  background-position: 0 80%;
  background-repeat: no-repeat;
  background-size: 0 40%;
  margin-left: -0.55rem;
  margin-right: -0.55rem;
  padding-left: 0.55rem;
  padding-right: 0.55rem;
  transition: background-size 1s 1.5s ease;
}
.heading-container h1 span.green-heading-bg.show {
  background-size: 100% 40%;
}
.heading-container h1 i {
  font-size: 100px;
}