@import './vars';
@import './include-media';

body.contact .hide-contact{ display: none; }

.ctn-contact{
  .content {
    @extend %j-c;
    @extend %fhw;
    position: relative;
    @include media('<=mob') { height: 100%; }
  }

  .ctn-bg{
    @extend %fhw;
    @include pa(0, 0);
    z-index: 1;
    .ctn-bg-inner{
      @include pa(10, 10, "", "", "%");
      z-index: 1;
      height: 80%;
      width: 80%;
      background: url(../img/contact/bg.jpg) no-repeat center;
      background-size: cover;
    }
    .vid-ol{ background: rgba($b, .6); }
  }

  .content__title {
    font-family: $lato;
    font-weight: 400;
    font-size: 44px;
    line-height: 1;
    color: $w;
    position: relative;
    left: -6vw;
    top: -2vh;
    z-index: 2;
    @include media('<=mob') {
      top: 0; left: 0;
      transform: scale(.75);
    }
    .info{
      font-size: 34px;
      line-height: 46px;
      font-weight: 200;
      margin-top: 20px;
    }
  }
}