@import './vars';
@import './include-media';
footer {
  .navbar-nav{
    font-family: $lato;
    letter-spacing: normal;
    font-weight: 400;
    font-size: 14px;
    .nav-cust a{
      font-size: 1rem;
      font-weight: 500;
      font-family: $pop;
      letter-spacing: 2px;
    }
  }
}