@import './vars';
@import './include-media';
footer {
  .navbar-nav{
    .outer-link{
      display: inline-block;
      position: relative;
      padding: 0!important;
      &:after{
        content: " ";
        height: 1px;
        width: 100%;
        position: absolute;
        bottom: 0; left: 0;
        background: $w;
      }
    }
  }
  // font-family: $lato;
  // font-weight: 500;
  // &.navbar-dark{
  //   .navbar-nav{
  //     .nav-item,
  //     .nav-link{ color: $w; }
  //   }
  // }
}