@import './vars';
@import './include-media';
nav{
  a.navbar-brand{
    img{ height: 50px; }
    font-size: 50px;
  }
  img.slide-close{
    cursor: pointer;
  }
  // font-family: $lato;
  // font-weight: 500;
  // &.navbar-dark{
  //   .navbar-nav{
  //     .nav-link{ color: $w; }
  //   }
  // }  
}